<div class="hero-unit">
	<% if user_signed_in? %>
		<h1> You're Logged In! </h1>
	<% else %>
		<h1>Welcome to Project X</h1>
		<p>
			You've found the home page for 
			<%= link_to "Project X", "#"%>!
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	<% end %>
</div>